<ion-header>
    
  <ion-toolbar >
    <ion-title style="text-align: end;">I v e n p a s s C o</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">

<ion-card>
  <ion-card-header>      
    <ion-card-title style="text-align: center; color: rgb(255, 255, 255);">Bienvenido a IvenPassCo</ion-card-title>
  </ion-card-header>
<div style="text-align: center;">
  <br><br>
  <ion-button (click)="session()" fill="solid" shape="round" color="dark"  expand="full">
      Iniciar sesion
  </ion-button>
</div>
<br>
<div style="text-align: center;">
  <ion-button (click)="register()"  fill="solid" shape="round" color="dark" expand="full">
      Crear usuario
  </ion-button>
  <br><br>
</div>




</ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title id="letra">I v e n p a s s C o </ion-title>

    <ion-buttons slot="end">

      <ion-button fill="clear">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>

    </ion-buttons>
    

  </ion-toolbar>
</ion-footer>