.x {
    --background:  rgb(118, 103, 124) ;
    text-align: center;
    
  }
  
.f{
  --background:linear-gradient(to right, rgb(18, 0, 18), rgb(32, 3, 27));
}
.c{
  --background:linear-gradient(to right, rgb(0, 0, 0), rgb(32,3,27));
} 